{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lockers</h1>


    <ul>
        <li>
            <a href="{{ path('locker_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
