{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <ul class="breadcrumb">
                <li>
                    <a href="{{ path('locker_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>

    <h1>Locker creation</h1>

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>


{% endblock %}
