{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <h1>Lockers actions</h1>

            <div class="col-md-4">
                <a href="{{ path('paginate') }}" class="btn btn-info">Show all</a>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-md-4">
                    <a href="{{ path('locker_new') }}" class="btn btn-info">Create a new locker</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
